.recomendacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 60px;
  background-image: url("../images/bg-grid.png");
  background-repeat: no-repeat;
  background-position: center;
}

.texto-reco {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  font-weight: bold;
}

.parrafo-reco {
  margin: 0;
  max-width: 700px;
}

.recomendacion img {
  width: 500px;
}

@media (max-width: 768px) {
  .recomendacion {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .titulo-reco,
  .parrafo-reco {
    max-width: 100%;
  }

  .recomendacion img {
    width: 100%;
    max-width: 400px;
  }
}
